body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#cursor {
    position: absolute;
    z-index: 10000;
    pointer-events: none;
    display: none;
    /* Hide the custom cursor by default */

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    /* Center the cursor at the mouse position */
}

.container {
    display: flex;
    height: 95vh;
    align-items: center;
    gap: 40px;

    /* for apriltags */
    position: relative;
    box-sizing: border-box;
}

/* video */
.video-grid-base {
    height: 100%;
    display: grid;
    gap: 5px;
    /* Grid gap */
    justify-content: center;
    align-items: center;
}

.video-grid-1 {
    /* Left empty on purpose */
    grid-template-columns: repeat(0, auto);
    grid-template-rows: repeat(0, auto);
}

.video-grid-4 {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.video-grid-8 {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

.video-grid-16 {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.video-container {
    position: relative;
    height: 100%;
    max-height: 55vh;
    /* to prevent video from getting too big in the single-robot mode */
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px solid transparent;
}

.chart-container {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30%;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
}

.likelihood-chart {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* controls */
.controls-container {
    height: 100%;
    width: 30%;
    min-width: 330px;
    /* to display toggle switch labels without wrapping */
    gap: 20px;
    /* Space between each switch */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -40vh;
    /* aligns the switches to the left */
    justify-content: center;
    /* align vertically */
}

/* toggle switches */
.toggle-container {
    width: 100%;
}

.toggle-container>.row {
    width: 100%;
}

.form-check-input,
.form-check-label {
    cursor: pointer;
}

.form-check-input.connected:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.form-check-input.disconnected:checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.form-check-input.connecting:checked {
    background-color: grey;
    border-color: grey;
}

/* buttons */
.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Space between each button */
}

/* task status message */
#task-status-message {
    width: 100%;
    /* margin-top: 10px; */
    line-height: 1em;
    min-height: 1em;
}