body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.container {
    display: flex;
    align-items: center;
    gap: 60px;
    /* Space between the video-grid and toggle-switches */
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    height: 90vh;
    gap: 5px;
    /* Grid gap */
    justify-content: center;
    align-items: center;

    /* for apriltags */
    position: relative;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px solid transparent;
}

.controls-container {
    min-width: 200px;
    gap: 20px;
    /* Space between each switch */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* aligns the switches to the left */
}


.form-check-input.connected:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.form-check-input.disconnected:checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.form-check-input.connecting:checked {
    background-color: grey;
    border-color: grey;
}