<!DOCTYPE html>
<html>

<head>
    <title>FastAPI with WebSockets</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/apriltag.css">

    <script type="module" src="/static/app.js"></script>
</head>

<body>
    <div class="container">
        <!-- apriltag images -->
        <img src="/static/img/tag36_11_00000.svg" class="apriltag top-left" />
        <img src="/static/img/tag36_11_00001.svg" class="apriltag top-right" />
        <img src="/static/img/tag36_11_00002.svg" class="apriltag bottom-left" />
        <img src="/static/img/tag36_11_00003.svg" class="apriltag bottom-right" />

        <!-- camera images -->
        <div>
            <div class="row">
                {% for i in range(num_agents) %}
                <div class="col-lg-6 col-md-6 col-sm-12 grid-item">
                    <video id="camera_{{i}}" autoplay playsinline muted></video>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>