<!DOCTYPE html>
<html>

<head>
    <title>Multi-Agent BMI</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="container mt-5 bg-white rounded fs-5">
        <!-- Userinfo display -->
        <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
                <div class="user-info">
                    <span id="displayUserInfo"></span>
                    <button id="resetUserInfo" class="btn btn-secondary ms-2">Reset User</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h2>Select Devices</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4"></div>
            <!-- Robot Selection Devices -->
            <div class="col-md-2 text-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-mouse">
                    <label class="form-check-label" for="toggle-mouse">Mouse</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-gamepad">
                    <label class="form-check-label" for="toggle-gamepad">Gamepad</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-gaze">
                    <label class="form-check-label" for="toggle-gaze">Eye Tracker</label>
                </div>
            </div>
            <!-- Subtask Selection Devices -->
            <div class="col-md-2 text-start">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-keyboard">
                    <label class="form-check-label" for="toggle-keyboard">Keyboard</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-eeg">
                    <label class="form-check-label" for="toggle-eeg">EEG/EMG</label>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <h2>Select a Mode</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <a href="/data-collection" class="mode-link hover-effect text-decoration-none">
                    <div class="fs-4 link-text">Data Collection</div>
                    <img src="/static/img/data_collection.png" alt="Data Collection" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/single-robot" class="mode-link hover-effect text-decoration-none">
                    <div class="fs-4 link-text">Single Robot</div>
                    <img src="/static/img/single_robot.png" alt="Single Robot" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="/multi-robot" class="mode-link hover-effect text-decoration-none">
                    <div class="fs-4 link-text">Multi Robot</div>
                    <img src="/static/img/multi_robot.png" alt="Multi Robot" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/static/index.js"></script>
</body>

</html>