<!DOCTYPE html>
<html>

<head>
    <title>FastAPI with WebSockets</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/apriltag.css">
    <script type="module" src="/static/app.js"></script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container">
        <!-- camera images -->
        <div class="video-grid">
                {% for i in range(num_agents) %}
            <div class="video-container">
                    <video id="camera_{{i}}" autoplay playsinline muted></video>
                </div>
                {% endfor %}
        </div>

        <!-- toggle switches -->
        <div class="toggle-switches">
            <!-- toggle switches -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-eyetracker">
                <label class="form-check-label" for="toggle-eyetracker">Eye Tracker</label>
            </div>
        </div>
    </div>
</body>

</html>